.p-box{
  background-image:url("image2.jpg");
  background-repeat: no-repeat;
  border:15px double darkred;
  padding-right: 10px;
  width: 790px; 
  height: 1500px;
  margin: 10%;
position: relative;
}

.p-box .your h3{
  position: absolute;
  bottom: 3%;
  right: 7.5%;
  text-align: right;
  font-size: 35px;
  color: darkblue;
  font-family: bold;
  line-height: 2em;
  animation: fadeIn 4s ease-in-out;
  align-content: center;
}
.p-box .okay{
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  padding-top: 15px;
  padding-right: 20px;
  font-style: bold;
  color: darkblue;
}
.p-box .address {
  text-align: right;
  padding-right: 15px;
  font-size: 25px;
}
.p-box p{
  color: blue;
  font-size: 42px;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 1.5em;
  word-spacing: 0.25em;
}

.p-box .my{
  color: burlywood;
  font-family:tahoma;
  word-spacing: 0.5em;
  text-align: right;
  padding-right: 20px;
  font-size: 30px;
  font-style: bold;
}
.p-box .dear h1{
  text-align: left;
  padding: 20px;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: mediumvioletred ;
  word-spacing: 0.75em;
  font-style: bold;
   }
   footer{
        color: orangered;
        font-size: 25px;
   }
